# Setup

In [1]:
import pandas as pd
from source import plots
import numpy as np

# Data

In [2]:
N = 100000
signal = np.random.randint(0, 2, N)
signal = np.concatenate([[np.nan], signal])

test_df = pd.DataFrame({'buy_signal': signal})
test_df.head(5)

   buy_signal
0         NaN
1         0.0
2         1.0
3         1.0
4         1.0

In [3]:
test_col_name = 'buy_signal'
test_value = 1.0
test_n = int(N * 0.10)
test_new_col_name = 'sampled'

# Old Method

In [4]:
% % time
output_old = plots.sample_signals(
    test_df, test_col_name, test_value, test_n, test_new_col_name)
output_old.head(10)

CPU times: user 12.8 s, sys: 3.62 ms, total: 12.9 s
Wall time: 12.8 s

   buy_signal  sampled
0         NaN    False
1         0.0    False
2         1.0    False
3         1.0    False
4         1.0    False
5         1.0     True
6         1.0    False
7         1.0    False
8         0.0    False
9         0.0    False

# New Method

In [5]:
% % time
output_new = plots.sample_signals_fast(
    test_df, test_col_name, test_value, test_n, test_new_col_name)
output_new.head(10)

CPU times: user 6.43 ms, sys: 0 ns, total: 6.43 ms
Wall time: 5.75 ms

   buy_signal  sampled
0         NaN    False
1         0.0    False
2         1.0    False
3         1.0     True
4         1.0    False
5         1.0    False
6         1.0    False
7         1.0    False
8         0.0    False
9         0.0    False